PROJECT_NAME="nibal.ink API"
JWT_SECRET_KEY=generar_con_openssl_rand_hex_32
JWT_ALGORITHM=HS256
DATABASE_URL=postgresql+asyncpg://user:pass@localhost:5432/dbname
CORS_ORIGINS_LIST=http://localhost:5173,https://nibal.ink
